{% extends 'layout.njk'%}

{% block header %}
<a href="/">Conteúdos</a>
<a href="/about">Sobre</a>
{% endblock %}


{% block content%}

<div class="error">
    <p>Error 404, Não conseguimos encontrar a página desejada</p>
</div>

{% endblock%}